
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  line-height: 1.5;
  background-color: #fefefe;
  color: #333;
}


h1, h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}


.form-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-bottom: 20px; /* space below form for reset button */
}

.form-label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input {
  font-size: 14px;
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-textarea {
  height: 60px;
  resize: vertical;
}


.btn {
  font-size: 14px;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-submit {
  background-color: #afbfd0;
  color: rgb(12, 1, 1);
  margin-top: 10px;
}


.btn-reset {
  background-color: #efe7e4; 
  color: rgb(12, 0, 0);
  margin-top: 15px;
  padding: 10px 15px;
}



.bookmark-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 1rem;
}

.bookmark-list li {
  margin-bottom: 10px;
}


.select-user {
  margin-bottom: 20px;
}
